In [10]:
print("hello \nworld")

hello
world

In [11]:
print("hello \tworld")

hello 	world

In [12]:
mystring ="hello world"

In [13]:
mystring[0]

'h'

In [17]:
mystring[-1]

'd'

In [18]:
mystring="abcdefghijk"

In [19]:
mystring[2:]

'cdefghijk'

In [20]:
mystring[:3]

'abc'

In [21]:
mystring[1:3]

'bc'

In [22]:
mystring[::2]

'acegik'

In [23]:
mystring[2:7:2]

'ceg'

In [24]:
mystring[::-1]

'kjihgfedcba'

In [25]:
# Immutability

In [28]:
name="Sam"

In [30]:
last_letters = name[1:]

In [31]:
'p'+last_letters

'pam'

In [33]:
print("this is a string {}".format("inserted"))

this is a string inserted

In [34]:
print("the {1} {0} {2}".format("fox","brown","quick"))

the brown fox quick

In [35]:
print("the {a} {b} {c}".format(a="fox",b="brown",c="quick"))

the fox brown quick

In [39]:
# using f'' to print
name ='jose'
age= 3
print(f'hello,his name is {name}, age is {age}')

hello,his name is jose, age is 3

In [40]:
my_list  = [1,2,3]

In [41]:
my_list[0]

1

In [42]:
another_list = [4,5]

In [43]:
my_list + another_list

[1, 2, 3, 4, 5]

In [44]:
my_list[0]="new one"

In [45]:
my_list

['new one', 2, 3]

In [46]:
# append items to list
my_list.append('six')

In [47]:
my_list

['new one', 2, 3, 'six']

In [51]:
# remove the last item from the list
my_list.pop()

2

In [49]:
my_list

['new one', 2, 3]

In [53]:
new_list=[2,1,4,5,3]

In [54]:
new_list.sort()

In [55]:
new_list

[1, 2, 3, 4, 5]

In [56]:
# reverse to reverse the order of items in a list
new_list.reverse()

In [57]:
new_list

[5, 4, 3, 2, 1]

In [58]:
my_dict = {'key1':'value1','key2':'value2'}

In [59]:
my_dict['key1']

'value1'

In [65]:
d={'k1':'a',"k2":[0,1,2],"k3":{'insidekey':122}}

In [66]:
d['k1'][0].upper()

'A'

In [67]:
d.values()

dict_values(['a', [0, 1, 2], {'insidekey': 122}])

In [68]:
d.items()

dict_items([('k1', 'a'), ('k2', [0, 1, 2]), ('k3', {'insidekey': 122})])

In [69]:
t=(1,2,3)

In [72]:
type(t)

tuple

In [73]:
l=[1,2,3]

In [74]:
type(l)

list

In [75]:
t[0]

1

In [76]:
t.index(1)

0

In [77]:
l.index(1)

0

In [78]:
myset=set()

In [79]:
myset.add(1)

In [80]:
myset

{1}

In [81]:
myset.add(2)

In [82]:
set('mississippi')

{'i', 'm', 'p', 's'}

In [83]:
if 3>2:
    print("true")

true

In [84]:
loc ="store"

if loc =="auto shop":
    print("cars are cool")
elif loc

In [85]:
my_iterable = [1,2,3]
for item_name in my_iterable:
    print(item_name)

1
2
3

In [86]:
mylist = [1,2,3,4,5,6,7,8,9]

In [88]:
for jelly in mylist:
    print(jelly)

1
2
3
4
5
6
7
8
9

In [89]:
for jelly in mylist:
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello

In [90]:
for num in mylist:
    # check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'odd number:{num}')

odd number:1
2
odd number:3
4
odd number:5
6
odd number:7
8
odd number:9

In [93]:
list_sum = 0
for num in mylist:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45

In [97]:
mylist = [(1,2),(3,4),(5,6),(7,8)]
for item in mylist:
    print(item)
for (a,b) in mylist:
    print(a)

(1, 2)
(3, 4)
(5, 6)
(7, 8)
1
3
5
7

In [98]:
d= {'k1':1,"k2":2}
for value in d.values():
    print(value)

1
2

In [101]:
x = 0 
while x <5:
    print(f'the current value of x is {x}')
    x=x+1
else:
    print("x is not less than 5")

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4
x is not less than 5

In [104]:
x=[1,2,3]

for item in x:
    pass

print("end of my script")

end of my script

In [105]:
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

b
c
d
e
f
g
h
i
j
k

In [107]:
x = 0
while x <5:
    if x ==2:
        break
    print(x)
    x=x+1

0
1

In [109]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [110]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [112]:
index_count = 0

for letter in "abcde":
    print("at index {} the letter is {}".format(index_count,letter))

at index 0 the letter is a
at index 0 the letter is b
at index 0 the letter is c
at index 0 the letter is d
at index 0 the letter is e

In [115]:
word='abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [116]:
mylist1= [1,2,3]
mylist2 = ['a','b','c']
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [117]:
'x' in [1,2,3]

False

In [118]:
mystring ='hello'

In [119]:
mylist=[]

for letter in mystring:
    mylist.append(letter)

In [120]:
mylist

['h', 'e', 'l', 'l', 'o']

In [121]:
mylist = [letter for letter in mystring]

In [122]:
mylist

['h', 'e', 'l', 'l', 'o']

In [123]:
mylist = [x for x in 'word']

In [124]:
mylist

['w', 'o', 'r', 'd']

In [125]:
mylist = [num for num in range(0,11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [126]:
mylist = [num**2 for num in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [134]:
mylist = [num**2 for num in range(0,11) if num%2==0]
mylist

[0, 4, 16, 36, 64, 100]

In [135]:
celcius = [0,10,20,34.5]
fahrenheit =[((9/5)*temp+32) for temp in celcius]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [138]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [139]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [143]:
st = 'Print only the words that start with s in this sentence'
st= st.split()
for item in st:
    if item[0]=='s':
        print(item)

start
s
sentence

In [174]:
# Use range() to print all the even numbers from 0 to 10.
for num in range(0,10):
    if num%2==0:
        print(num)
list(range(0,10,2))

0
2
4
6
8

[0, 2, 4, 6, 8]

In [148]:
# Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.

mylist = [num for num in range(1,50) if num%3==0]
mylist

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [175]:
# 
# Go through the string below and if the length of a word is even print "even!"
st = 'Print every word in this sentence that has an even number of letters'
st=st.split()
for word in st:
    if len(word)%2==0:
        print(word+' is even')

word is even
in is even
this is even
sentence is even
that is even
an is even
even is even
number is even
of is even

In [170]:
for num in range(1,101):
    if num%3==0 and num%5 !=0:
        print(f'{num} fizz')
    elif num%5==0  and num%3!=0:
        print(f'{num} buzz')
    elif num%3==0 and num%5==0:
        print(f'{num} fizzbuzz')

3 fizz
5 buzz
6 fizz
9 fizz
10 buzz
12 fizz
15 fizzbuzz
18 fizz
20 buzz
21 fizz
24 fizz
25 buzz
27 fizz
30 fizzbuzz
33 fizz
35 buzz
36 fizz
39 fizz
40 buzz
42 fizz
45 fizzbuzz
48 fizz
50 buzz
51 fizz
54 fizz
55 buzz
57 fizz
60 fizzbuzz
63 fizz
65 buzz
66 fizz
69 fizz
70 buzz
72 fizz
75 fizzbuzz
78 fizz
80 buzz
81 fizz
84 fizz
85 buzz
87 fizz
90 fizzbuzz
93 fizz
95 buzz
96 fizz
99 fizz
100 buzz

In [173]:
# 
# Use List Comprehension to create a list of the first letters of every word in the string below:
st = 'Create a list of the first letters of every word in this string'
st=st.split()
mylist = [word[0] for word in st ]
mylist

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']